html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color:#f3e0e0;
}
.navbar{
  background-color: #999;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0px;
}
body{
  background-color: #d9edf7;
}
.nature h1 {
  font-size: 2.6em;
  text-align: center;
}

.nature p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}

.nature {
  margin: 0rem 13rem;
  background-color: #779900;
  padding: 0rem 13rem 10rem 0rem;
  border: 5px solid black;
}

.nature h1 {
  margin: 0;
  padding: 20px 0;  
  color: #eeeeee;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}